My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9a5765ae-ff91-40cc-8668-405fe0d02f01",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/n8n-io/n8n/stargazers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3.star+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "fc3459c0-8d87-4144-938b-03a960c03094",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8812cb91-5b63-40a3-9f1e-417d19967422",
              "name": "username",
              "value": "={{ $json.user.login }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "8cd1df03-0a2f-4d27-89af-4b38da196b5d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{$json[\"username\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "6336cf50-67bf-408a-afaf-ec6c0574c9c2",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "667e45c7-fa07-4c06-9c97-3b1b7fd4c5fa",
              "leftValue": "={{$json[\"followers\"]}}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "416ad9b1-8069-462d-9df6-c29dfaa294c1",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nreturn $input.all().map(item => {\n  const login = item.json.login;\n  const bio = item.json.bio || \"GitHub developer\";\n  const company = item.json.company || \"tech industry\";\n\n  return {\n    json: {\n      ...item.json,\n      pitch: `Hi ${login}, based on your work in ${bio} at ${company}, we’d love to connect with you for collaboration opportunities.`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -96
      ],
      "id": "8ac1180a-cba6-413f-af7d-fd3dec6f1c95",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1485998934949367938/QSe-fH5L84JMle-QnRy2kXto8o59YCAbMVDIFwD4dHEKmO2bkmEKZqEIlpv5DEu9rUfQ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=🚀 New Lead: {{$json.login}}\\n💡 Pitch: {{$json.pitch}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        -96
      ],
      "id": "ae90a8f6-d0ee-4b6a-b9e1-352c3b257944",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "632b8728-aa03-42be-b925-cc7d45a983a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08e675049a951cb8dc7f429fc6eec2a68f2f511a7bc2a3e25975153434d93ebf"
  },
  "id": "cRJh7MMBUsmElj3v",
  "tags": []
}